<nav-page id="app-page">


    <side-menus>
        <!-- Center content -->
        <pane side-menu-content>
            <header class="bar bar-header bar-assertive">
                <h1 class="title">Todo</h1>
            </header>

            <content has-header="true">
                <ul class="list">
                    <li ng-repeat="task in alltasks|filter:task.active=true" class="item ">

                            {{task.title}}

                        <span class="badge"> {{task.frequency}}</span>
                    </li>
                </ul>
            </content>
        </pane>


        <!-- Right menu -->
        <side-menu side="right">
            <content has-header="true">
            <ul class="list">
                <li ng-repeat="task in alltasks" class="item item-checkbox">
                    <label class="checkbox">
                        <checkbox type="checkbox" ng-model="task.active"> {{task.title}}</checkbox>
                    </label>
                    <span ng-click="show(task)" class="badge">    {{task.frequency}}     </span>
                </li>
            </ul>
            </content>
            <footer class="bar bar-footer bar-assertive">
                <h1 class="title">
                    <i class="icon ion-plus"></i>
                </h1>
            </footer>
        </side-menu>
    </side-menus>
</nav-page>
